* { 
    background-color: lightslategray;
}

.title {
    background-color: lightblue;
    text-align: center;
    padding: 8px 4px;
    margin: 8px;    
}

.listitem {
    background-color: rgb(172, 234, 251);
    padding: 2px;
    margin: 2px;
}

.subheading {
    display: inline-block;
    background-color: rgb(166, 235, 151);
}

img {
    display: block;
    margin: 20px;
}

a {
    background-color: rgb(172, 234, 251);
}

p {
    background-color: rgb(167, 168, 255);
    padding: 5px;
    margin: 1px;
}

ol {
    background-color: rgb(172, 234, 251);
}

ul {
    background-color: rgb(172, 234, 251);
}

.homepage {
    text-align: center;
}